# See readme.txt
#
# Change values below and save.
# Please note that this file will be overwritten.
authorizationUrl=https://api.xero.com/oauth/Authorize
requestUrl=http:https://api.xero.com/oauth/RequestToken
accessUrl=https://api.xero.com/oauth/AccessToken
consumerKey=R2J6PI2GHOZAQQ1ZZVAWQOC6H2UAKL
consumerSecret=TG77XPLAGLSGA7LAQIAW5SVA9RQGDT


